p {
    display: inline-block;
}
h1,h3,h4,h5,h6 {
    margin: 0%;
}
h1 {
    font-size: 30px;
    margin-top: 25px;
}

h4 {
    font-size: 25px;
    font-weight: bold;
    color: white;
    position: absolute;
}

h3,h5 {
    color: #8d8d8d;
}

h5 {
    margin-bottom: 20px;
}

thead {
    background-color: #20a9e5;
    color: white;
}

.riga-azzurra {
    background-color: #b1e5f2;
}

#booleaner-mark {
    color: #36b1e8;
}